/.idea
/bower_components/*

# 以下は使うので残す
!/bower_components/material-design-iconic-font
/bower_components/material-design-iconic-font/*
!/bower_components/material-design-iconic-font/css/
!/bower_components/material-design-iconic-font/fonts/

!/bower_components/jquery
/bower_components/jquery/*
!/bower_components/jquery/dist
/bower_components/jquery/dist/*
!/bower_components/jquery/dist/jquery.min.js

!/bower_components/FitText.js
/bower_components/FitText.js/*
!/bower_components/FitText.js/jquery.fittext.js

!/bower_components/d3
/bower_components/d3/*
!/bower_components/d3/d3.min.js

