.starter {
	@include fullscreen;
  width: 100%;
  height: 100%;
	background: $droidkaigi-2020-theme;
	z-index: 1;
}

.start_button {
	position: absolute;
	height: 100px;
	width: 100px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: inherit;
	text-align: center;
	color: $droidkaigi-2020-letterbox;
	font-style: bold;
}